.footer__link {  
  transition: .2s linear;

  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 112%;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 100%;
  }

  .footer__link:last-of-type {
    margin: 0 0 2.5rem;
  }

}
