.lead__title {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;

  font-size: 6rem;
  font-weight: 900;
  line-height: 6.25rem;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 90vw;

    font-size: 12.5vw;
    line-height: 104%;
  }
  
}
