.lead__title {
  max-width: 720px;
  
  margin: 0 auto;

  text-align: center;
  font-weight: 900;
  font-size: 6rem;
  line-height: 120%;
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 90%;

    font-size: 12.5vw;
    line-height: 104%;
  }
  
}
