.footer__links {
  display: flex;
  column-gap: 1.125rem;
  
  margin: 0;

  color: #fff;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    row-gap: 2rem;
  }

}