.place__paragraph {
  margin: 1.625rem auto 0;

  font-weight: 400;
  font-size: 1.125rem;
  line-height: 163%;
}

.place__paragraph:first-of-type {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    width: 90vw;

    margin: 1.5625rem auto 0;
    
    font-size: 1rem;
  }

  .place__paragraph:first-of-type { 
    margin: 2rem auto 0;
  }

}