.intro__text {
  width: 690px;

  margin: 2.5rem 0;

  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
}


@media screen and (max-width: 1279px) {
  .intro__text {
    width: 54vw;
  }
  
}

@media screen and (max-width: 1024px) {
  .intro__text {
    width: 67.38vw;
  }

}

@media screen and (max-width: 768px) {
  .intro__text {
    width: 93.75vw;
  }

}

@media screen and (max-width: 320px) {
  .intro__text {
    width: 90vw;
  }

}
