.lead__caption {
  margin: .5rem 0 0;

  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .625rem;
  line-height: .875rem;

}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: .5rem 0 0 1.5rem;
  }
  
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: .5rem 0 0 1.125rem;
  }
  
}