.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .place__website {
    width: 90%;
    margin: 2rem  auto 0;
  }
  
}

